# build output
dist/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Astro cache and env files
.astro/
.env
.env.*
!.env.example

# editor settings
.vscode/
